h1 Details for classroom #{classroom.name}
a(href='#{classroom.id}/edit') Edit

p This classroom seats #{classroom.numberOfSeats}

if classroom.hasKeg
  p This classroom has a Keg, much to the instructor's dismay
else
  p This classroom does not have a Keg
